appdirs==1.4.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.4.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
requests==2.24.0
selenium==3.141.0
six==1.15.0
urllib3==1.25.10
virtualenv==20.0.33
webdriver-manager==3.2.2
